{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Expériences professionelles{% endblock %}

{% block section %}
<h1>Expériences <span class="d-none  d-md-inline d-lg-inline d-xl-inline">professionnelles</span></h1>

  <div class="alert alert-light shadow mb-4">
    <h4 class="alert-heading">Développeur WEB</h4>
    <p> Février 2020 – Juillet 2020, La Ciotat (13)</p>
    <h6 class="lead">Ilion Technologies</h6>
    <hr class="mt-0">
    <ul>
      <li>Développement de nouvelles fonctionnalités (PHP, JAVA, SQL, JQuery)</li>
      <li>Correction de bugs</li>
      <li>Participation à la migration de PHP 5.3 vers PHP 7.3</li>
    </ul>
  </div>

  <div class="alert alert-light shadow mb-4">
    <h4 class="alert-heading">Technicien système et réseaux</h4>
    <p>Mars 2016 - Février 2020, Toulon (83)</p>
    <h6 class="lead">Proservia chez client Naval Group</h6>
    <hr class="mt-0">
    <ul>
      <li>Câblage, configuration de switch CISCO selon procédure, activation de ports.</li>
      <li>Assistance aux utilisateurs par téléphone, en prise de main à distance et sur site.</li>
      <li>Maintenance logiciels et matériels des postes informatiques.</li>
    </ul>
  </div>

  <div class="alert alert-light shadow mb-4">
    <h4 class="alert-heading">Développeur WEB</h4>
    <p>Août 2014 – Janvier 2016, Paris (75)</p>
    <h6 class="lead">Direction du personnel militaire de la marine</h6>
    <hr class="mt-0">
    <ul>
      <li>Réalisation d’une application WEB “from scratch” (Symfony2,doctrine, MySQL, twig, ajax, jquery, css)</li>
      <li>Maintenance application web (PHP, Javascript)</li>
      <li>Création service Windows (AutoIt)</li>
    </ul>
  </div>


  <div class="alert alert-light shadow mb-4">
    <h4 class="alert-heading">Responsable informatique</h4>
    <p> Août 2012 – Août 2014, Nouméa (98)</p>
    <h6 class="lead">Direction interarmées des réseaux d’infrastructure et des systèmes d’information</h6>
    <hr class="mt-0">
    <ul>
      <li>Pilotage d’une équipe de techniciens.</li>
      <li>élaboration du plan de renouvellement bureautique et de la migration des postes Windows XP vers Windows Seven.</li>
      <li>Gestion et réalisation des commandes informatiques.</li>
      <li> Participation à l’élaboration du nouveau marché informatique des forces armées de Nouvelle-Calédonie.</li>
    </ul>
  </div>

  <div class="alert alert-light shadow mb-4">
    <h4 class="alert-heading">Technicien informatique</h4>
    <p>Août 2011 – Août 2012, Nouméa (98)</p>
    <h6 class="lead">Direction interarmées des réseaux d’infrastructure et des systèmes d’information</h6>
    <hr class="mt-0">
    <ul>
      <li>Assistance aux utilisateurs par téléphone, en prise de main à distance et sur site.</li>
      <li>Création et gestion de tickets sous GLPI.</li>
      <li>Maintenance logiciels et matériels des postes informatiques.</li>
      <li> Préparation de master, déploiement et renouvèlement de parcs informatique.</li>
    </ul>
  </div>


  <div class="alert alert-light shadow mb-4">
    <h4 class="alert-heading">Technicien exploitation</h4>
    <p>Juin 2010 – Août 2011, Suresnes (92)</p>
    <h6 class="lead">Etat-major de la marine</h6>
    <hr class="mt-0">
    <ul>
      <li>Supervision des serveurs applicatifs en environnement Windows.</li>
      <li>Diagnostic et résolution d’incidents reçu par alertes.</li>
    </ul>
  </div>

  <div class="alert alert-light shadow mb-4">
    <h4 class="alert-heading">Développeur informatique</h4>
    <p>Février 2007 – Mai 2010, Paris (75)</p>
    <h6 class="lead">Etat-major de la marine - Projet RH@psodie</h6>
    <hr class="mt-0">
    <ul>
      <li>Analyse et modélisation de processus « métier RH » sous MEGA.</li>
      <li>Mise en place de programmes de reprise des données sous SAP.</li>
      <li>Participation à la réalisation d’une interface WEB (JSP, Hibernate, Struts).</li>
    </ul>
  </div>
{% endblock %}
