{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Contact{% endblock %}

{% block section %}
 <h1>Contact</h1>

    <div class="alert alert-warning" role="alert">
        L'implémentation du formulaire est en cours...<br>
        Vous pouvez me contacter à l'adresse <a href="mailto:mathieu.margotin@gmail.com">mathieu.margotin@gmail.com</a>
    </div>

    <form>
        <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="nom" placeholder="Votre nom">
        </div>

        <div class="form-group">
            <label for="email">Adresse mail</label>
            <input type="email" class="form-control" id="email" placeholder="Votre adresse mail">
        </div>

        <div class="form-group">
            <label for="message">Votre message</label>
            <textarea class="form-control" id="message" rows="3" placeholder="Votre message"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
{% endblock %}
