{% extends "base.html.twig" %}

{% block meta %}
	<meta name="description" content="Bienvenue sur mon CV en ligne ! "/>
	<meta name="keywords" content="mathieu, margotin, cv, developpeur"/>
{% endblock %}
{% block title %}Mathieu MARGOTIN | Développeur Web{% endblock %}
{% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
{% block header %}
	{% include "front_office/partial/_header.html.twig" %}
{% endblock %}		
	
{% block main %}
<div id="swup"  class="container pb-custom"> 
	<section >
		{% block section %}{% endblock %}
	</section>
</div>
{% endblock %}	
				
{% block footer %}
	{% include "front_office/partial/_footer.html.twig" %}
{% endblock %}
			
            
{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
	{{ encore_entry_script_tags('page') }}
{% endblock %}