{% extends 'front_office/base.html.twig' %}

{% block title %}
	{{ parent() }} | Compétences
{% endblock %}

{% block section %}
	<h1>Compétences</h1>
	{% for categoryName, skill in skills %}
		<div class="row alert alert-light shadow">		
			<h4 class="font-italic mb-sm-2 mb-md-0 col-sm-12 col-md-3 col-xl-2 d-inline-block align-self-center">{{ categoryName }}</h4>
			<div class="col d-flex align-items-center flex-wrap">
				{% for skillName in skill %}
					<span class="badge badge-primary shadow m-2 px-4 py-2">{{ skillName }}</span>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
{% endblock %}
