{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Diplômes{% endblock %}

{% block section %}
  <h1>Diplômes</h1>

  <div class="alert alert-light shadow mb-4">
    <h4 class="alert-heading">Licence générale Sciences Technologies Santé mention informatique générale</h4>
    <p> Octobre 2016 – Février 2018, Aix-en-Provence (13)</p>
    <hr>
    <p class="mb-0">Cnam</p>
  </div>

  <div class="alert alert-light shadow mb-4">
    <h4 class="alert-heading">Brevet de Technicien Supérieur en informatique industrielle</h4>
    <p>Septembre 2001 – Juin 2003, Toulouse (31)</p>
    <hr>
    <p class="mb-0">Institut Limayrac</p>
  </div>

  <div class="alert alert-light shadow mb-4">
    <h4 class="alert-heading">Baccalauréat sciences et technologies industrielles en génie électrotechnique</h4>
    <p> Septembre 2000 – Juin 2001, Toulouse (31)</p>
    <hr>
    <p class="mb-0">Lycée Jolimont</p>
  </div>
{% endblock %}
